
li.logo{
    font-family: 'Josefin Sans', sans-serif;
    size: 50px;
}

nav ul{
    display: flex;
    list-style-type:none;
    height: 70px;
    background-color: blue;
    color: antiquewhite;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 200px;
}
nav ul li{
    padding: 0 10px;
}
nav{
    text-align: right;
}
div.container{
    background-color: brown;
    height: 500px;
    margin: 20px auto;
    width: 98%;
}
div.ABOUT{
    margin: 15px;
}