
li.logo{
    font-family: 'Josefin Sans', sans-serif;
    size: 50px;
}

nav ul{
    display: flex;
    list-style-type:none;
    height: 70px;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 200px;
}
nav ul li{
    padding: 0 10px;
}
nav{
    text-align: right;
}
div.container{
    height: 500px;
    margin: 20px auto;
    width: 98%;
}
div.ABOUT{
    margin: 0  30px;
}
body{
    background: linear-gradient(to bottom right, #ff99cc 0%, #ff66ff 100%);
}
div.ABOUT{
    height: auto;
    width: 700px;
    text-align: center;
    font-size: 22px;
    font-family: 'Send Flowers', cursive;
}